.table__top h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
}
.table__top p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}
.table__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 50px;
}
.table__card {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 31%;
    transition: 1s;
}
.table__box h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}
.table__box p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
}
.table__price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
}
.table__sub-price h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #02897A;
    margin: 0;
}
.table__sub-price p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
}
.table__price {
    display: flex;
    align-items: center;
}
.table__box h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
}
.table__box button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #02897A;
    border: 1px solid #02897A;
    border-radius: 8px;
    padding: 11px 19px;
}
.table__box {
    padding: 24px 75px 32px 73px;
}

.table__card:hover {
    background: #02897A;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    cursor: pointer;
}
.table__card:hover .table__price{
    color: white;
}